form.signup,
form.login {
  margin-top: 50px;
}

#map { 
  height: 530px; 
  width: 100%;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.subtitle {
  font-family: "Courier", Lucida Console, monospace;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}
body > footer {
    margin-top: auto;
}

#postContainer {
  border: 2px dashed black;
}

.card {
  border-radius: 5px;
}

#postsCol {
  overflow-y: scroll;
  overflow-x:hidden;
}