<main class="section columns is-desktop">
  <div class="column is-two-fifths">
    <div id="map"></div>
  </div>
  <div class="post-container" id="postsCol" style="height: 700px;">
    {{#each post}}
    {{> truckers_block}}
    {{else}}
    <p class="title">No food trucks currently available in this category.</p>
    {{/each}}
  </div>
</main>