<section class="hero is-medium is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        MOTHER TRUCKERS
      </h1>
      <h3 class="subtitle">
        Calling all Food Truck Lovers
      </h3>
      <Br>
      <h3 class="subtitle">
        Add your Food Truck to the list:
      </h3>
    </div>
  </div>
</section>

<main>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="foodTruck">Food Truck Name:</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input is-info" id="trucker_name" type="text" placeholder="Food Truck Name">
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="foodTruck">Street Address:</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input is-info" id="trucker_addy" type="text" placeholder="Street Address">
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="foodTruck">City/ State/ Zip</label>
        </div>
        <div class="field-body">
            <div class="field">
                <input class="input is-info" id="trucker_city" type="text" placeholder="City">
            </div>
            <div class="field">
                <input class="input is-info" id="trucker_state" type="text" placeholder="State">
            </div>
            <div class="field">
                <input class="input is-info" id="trucker_zipcode" type="text" placeholder="Zipcode">
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="foodTruck">Start Time:</label>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <div class="select is-warning">
                    <select>
                        <option>12:00</option>
                        <option>1:00</option>
                        <option>2:00</option>
                        <option>3:00</option>
                        <option>4:00</option>
                        <option>5:00</option>
                        <option>6:00</option>
                        <option>7:00</option>
                        <option>8:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
                        <option>21:00</option>
                        <option>22:00</option>
                        <option>23:00</option>
                        <option>24:00</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field-label is-normal">
            <label class="foodTruck">End Time:</label>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <div class="select is-warning">
                    <select>
                        <option>12:00</option>
                        <option>1:00</option>
                        <option>2:00</option>
                        <option>3:00</option>
                        <option>4:00</option>
                        <option>5:00</option>
                        <option>6:00</option>
                        <option>7:00</option>
                        <option>8:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
                        <option>21:00</option>
                        <option>22:00</option>
                        <option>23:00</option>
                        <option>24:00</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field-label is-normal">
            <label class="foodTruck">Cuisine Type:</label>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <div class="select is-warning">
                    <select>
                        <option>American Food</option>
                        <option>Asian Food</option>
                        <option>Mexican Food</option>
                        <option>Vegetarian/ Vegan Food</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="foodTruck">Social Media Links:</label>
        </div>
        <div class="field-body">
            <div class="field">
                <input class="input is-info" id="trucker_city" type="text" placeholder="Facebook">
            </div>
            <div class="field">
                <input class="input is-info" id="trucker_state" type="text" placeholder="Instagram">
            </div>
            <div class="field">
                <input class="input is-info" id="trucker_zipcode" type="text" placeholder="Twitter">
            </div>
        </div>
    </div>
</main>



